<div id="album_page">
    <h1> Photo Album</h1>
    <p> There are {{ photos.length }} photos in this album.</p>
    {{#photos}}
    <div id="photos">
        <div class="photo">
            <div class='photo_holder'>
                <img style='width: 400px; height: 250px;'
                     src="{{url}}" border="0"/></div>
            <div class='photo_desc'><p>{{ desc }}</p></div>
        </div>
    </div> <!-- #photos -->
    <div style="clear: left"></div>
    {{/photos}}
    {{^photos}}
    <p> This album does't have any photos in it, sorry.
    <p>
        {{/photos}}
</div> <!-- #album_page -->
