<form action="/pages/home">
  <button style="background: none; border: none;" type="submit"><img width="25px" height="25px" src="/content/home.jpg">  Home</button>
</form>
<div id="album_page">
  <h1> Photo Album</h1>
  <p> There are {{ photos.length }} photos in this album.</p>
  {{#photos}}

  <div id="photos">
    <div class="photo">
      <div class='photo_holder'>
        <img id="picture" style='width: 400px; height: 250px;'
             src="{{url}}" border="0"/></div>
      <div class='photo_desc'><p>{{ desc }}</p></div>
    </div>
  </div>
  <div style="clear: left"></div>
  {{/photos}}
  {{^photos}}
  <p> This album does't have any photos in it, sorry.
  <p>
    {{/photos}}
</div>
